html {
    font-family: calibri, 'trebuchet ms', sans-serif;
    background: linear-gradient(180deg, #84daf5, #89ffff, #affffa, #ffffff);
}
body {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
h1 {
    text-align: center;
    filter: drop-shadow(2px,2px) blur(10px) #0f6a9e
}
h2 {
    margin: 4rem auto 1rem auto;
    text-align: center;
}
p {
    font-size: 20px;
}
li {
    font-size: 20px;
}
ol {
    padding: 20px;
}
ol li {
    padding: 10px 0;
}
img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5)
}
figcaption {
    text-align: center;
    font-weight: bold;
    color: (0,58,66)
    
    
}
footer {
    margin: 2rem 0 2rem 0;
    text-align: center;
}

.banner-div {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
#banner-long {
    max-width: 100%;
    height: auto; 
    }
#banner-short {
    width: 230px;
   display: none;
}

.img-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tips-div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.top-places-div {
    max-width: 800px;
    margin: 5rem auto;
    color: rgb(253, 197, 132);
    padding: 1rem 2rem;
    background-color: rgb(0,58,66);
    border-radius: 1rem;
}

.top-places-div h2 {
    text-align: center;
    margin: 1rem auto;
    font-weight: lighter;
}

@media only screen and (max-width: 1500px) {
    .img-div img {
        width: 420px
    }
}

@media only screen and (max-width: 1100px) {
    .tips-div {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media only screen and (max-width:500px) {
    body {
        margin: 1rem
    }
    p,
    li {
        font-size:16px;
    }
    .img-div img {
        width:230px;
    }
    .tips-div img {
        width: 230px;
    }
    #banner-long {
        display: none;
    }
    #banner-short {
        display: block;
    }
}